body{
          background-color: teal;
}
#full{
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
}
h2 {
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 50px;
          color: white;
}
input{
    padding: 15px 80px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    border:2px solid black;
          
}
div{
          margin: 10px 0px;
}
button{
           padding: 10px 20px;
           border-radius: 2px;
           outline: none;
           border: 2px solid black;
           font-weight: bold;
           cursor: pointer;
}